<div>
    <div class="modal-header">
        <h3>{{offLineMessage['message']}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <row>
                <ul>
                    <li ng-repeat="option in options">
                        {{option}}
                    </li>
                </ul>
            </row>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <row>
                <button class="btn btn-warning" ng-click="inSyn()">Continue</button>
                <button class="btn btn-warning" ng-click="inASyn()">Return</button>
                <button class="btn btn-warning" ng-click="win()">Win</button>
            </row>
        </div>
    </div>


</div>