<div>
	<div class="modal-header">
		<h3>{{$scope.resultInfo['message']}}</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<row>
				<!--<ul class="nav nav-tabs">-->
				<!--<li class="active">-->
				<!--<a href="#postFB" data-toggle="tab">Post To FB!</a>-->
				<!--</li>-->
				<!--<li>-->
				<!--<a href="#newMatch" data-toggle="tab">New Match</a>-->
				<!--</li>-->
				<!--</ul>-->
				<!--<div class="tab-content">-->
				<!--<div class="tab-pane active" id="postFB">-->

				<!--</div>-->

				<!--<div class="tab-pane" id="newMatch">-->

				<!--</div>-->
				<!--</div>-->
			</row>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="PostFB()">Post to FB</button>
		<button class="btn btn-primary" ng-click="cancel()">Back to lobby</button>
	</div>
</div>