<div>
	<div class="container-fluid">
		<div class="jumbotron" id="autoMatch">
			<div >
				<div class="col-xs-12 v-center">
					<h1>Just Play It!</h1>
				</div>
				<div class="col-xs-12 v-center">
					<button type="submit" ng-click="autoMatch()" class="btn btn-primary btn-lg">
						<i class="icon-random"></i> Auto Match
					</button>
				</div>
			</div>
			<div >
				<div class="col-xs-12 v-center">
					<h1>Pass and Play!</h1>
				</div>
				<div class="col-xs-12 v-center">
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="glyphicon glyphicon-retweet"></i> Pass & Play
					</button>
				</div>
			</div>
			<div >
				<div class="col-xs-12 v-center">
					<h1>Play with AI!</h1>
				</div>
				<div class="col-xs-12 v-center">
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="glyphicon glyphicon-phone"></i> Play With AI
					</button>
				</div>
			</div>

		</div>
	</div>
</div>