<div class="container-fluid">
	<row>
		<div id="playerInfo" class="panel panel-default">
			<div class="panel-heading">Your Information</div>
			<div class="panel-body">

				<div class="col-sm-3">
					Email: {{matchInfo.playersInfo[playerId]['email']}}
				</div>
				<div class="col-sm-3">
					First Name: {{matchInfo.playersInfo[playerId]['firstname']}}
				</div>
				<div class="col-sm-3">
					Last Name: {{matchInfo.playersInfo[playerId]['lastname']}}
				</div>
				<div class="col-sm-3">
					Nick Name: {{matchInfo.playersInfo[playerId]['nickname']}}
				</div>
			</div>
		</div>
	</row>

	<row>
		<div id="gameContainer" class="panel panel-default">
			<div class="panel-heading">Game</div>
			<div class="panel-body">
				<row>
					<div id="refreshButton" class="col-sm-3" align="middle">
						<button type="button" class="btn btn-primary" ng-show='displayGetNewStateButton'
						        ng-click="getNewMatchState()"> Refresh
						</button>
					</div>
					<div id="currentTurnInfo" class="col-sm-3" align="middle"> <!--change 6 to 3-->
						<td>{{matchInfo.playerThatHasTurn}}</td>
					</div>
					<div id="endGameButton" class="col-sm-3" align="middle">
						<button type="button" class="btn btn-primary" ng-show="displayEndGameButton" ng-click="endGame('p')"> End
							Game
						</button>
					</div>

                    <div id="RematchButton" class="col-sm-3" align="middle">
                        <button type="button" class="btn btn-primary" ng-click="open()"> Rematch
                            Game
                        </button>
                    </div>
				</row>

                <!-- new modal -->


				<br/><br/><br/>
				<!-- Board adjust window -->
				<!--<div class="input-group" align="left">
					<input type="text" ng-model="gameInfo.height" placeholder="Board Height"/> <br />
					<input type="text" ng-model="gameInfo.width" placeholder="Board Width"/>
				</div>-->
				<!-- iFrame of the game -->
				<row>
					<div class="col-sm-12" align="middle">
						<iframe ng-src="{{ gameInfo.url }}" ng-attr-height="{{ gameInfo.height }}"
						        ng-attr-width="{{ gameInfo.width }}" id='gameIFrame' frameborder="0"
						        scrolling="no"></iframe>
					</div>
				</row>
			</div>
		</div>
	</row>

	<row>
		<div id="opponentInfo" class="panel panel-default">
			<div class="panel-heading">Opponent Information</div>
			<div class="panel-body">
				<table class="table">
					<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Nick Name</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="opponent in getOpponentsInfo()">
						<td>
							Opponent_{{$index + 1}}:
						</td>
						<td>
							First Name: {{opponent['firstname']}}
						</td>
						<td>
							Nick Name: {{opponent['nickname']}}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</row>
</div>