<div class="panel panel-default">
	<div class="panel-body">
		<div id="main" class="col-md-12">
			<div id="playerInfo" class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						player info
					</div>
				</div>
			</div>
			<div id="gameContainer" class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">
						<div align="middle">
							<iframe align="middle" src="http://chongzizil.github.io" height="400px" width="400px"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div id="playersInfo" class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-body">
						players info
					</div>
				</div>
			</div>
			<div id="charArea" class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						chat area
					</div>
				</div>
			</div>
		</div>
	</div>
</div>