<div class="list-group">
	<a href="#" class="list-group-item active">
		Games (Hard Code)
	</a>
	<a href="#/lobby/4782276432887808" class="list-group-item">Cheater</a>
	<a href="#/lobby/5662124105793536" class="list-group-item">Cheater_rl</a>
	<a href="#/lobby/5066549580791808" class="list-group-item">Cheater_self_1</a>
	5066549580791808
	<a href="#/lobby/2" class="list-group-item">Banqi</a>
	<a href="#/lobby/3" class="list-group-item">Abalone</a>
	<a href="#/lobby/4" class="list-group-item">Ninty Nine</a>
</div>