<div>
	<row>
		<div class="list-group col-md-6 col-sm-12">
			<a href="#" class="list-group-item active">
				Cras justo odio
			</a>

			<a href="#/lobby/5993928583020544" class="list-group-item">Cheater</a>
			<a href="#/lobby/5642554087309312" class="list-group-item">Cheater_rl</a>
			<a href="#/lobby/6482829005291520" class="list-group-item">Banqi</a>
			<!--<a href="#/lobby/5678807906254848" class="list-group-item">Cheater_self_1</a>-->
			<!--<a href="#/lobby/5681717746597888" class="list-group-item">Cheater_self_2</a>-->
			<!--<a href="#/lobby/5982210838495232" class="list-group-item">Ninty Nine_rl</a>-->
			<a href="#/lobby/5928095324307456" class="list-group-item">TicTacToe</a>
			<a href="#/lobby/5675267779461120" class="list-group-item">TicTacToe_rl</a>
			<a href="#/lobby/5381809843994624" class="list-group-item">Banqi_rl</a>
			<!--<a href="#/lobby/5979457764458496" class="list-group-item">TicTacToe_self_1</a>-->
			<!--<a href="#/lobby/1" class="list-group-item">Banqi</a>-->
			<!--<a href="#/lobby/1" class="list-group-item">Abalone</a>-->
			<!--<a href="#/lobby/1" class="list-group-item">Ninty Nine</a>-->
		</div>

		<div class="list-group col-md-6 col-sm-12">
			<a href="#" class="list-group-item active">
				Player (Hard Code)
			</a>
			<a href="#/selectGame?
			playerId=5674210814853120&accessSignature=aab7c5fe9a96679f7ec2ed93be52b0f8" class="list-group-item">Player 1</a>
			<a href="#/selectGame?
			playerId=5384450309357568&accessSignature=1a4922e52a830e18434d63c7c301959a" class="list-group-item">Player 2</a>
			<a href="#/selectGame?
			playerId=5083670394175488&accessSignature=8145138c0cd925b117d089a75b4179c6" class="list-group-item">Player_rl
				1</a>
			<a href="#/selectGame?
			playerId=5668387241852928&accessSignature=499001cd1ec1b53e68c4269e4f8187d5" class="list-group-item">Player_rl
				2</a>
			<!--<a href="#/selectGame?-->
			<!--playerId=5743868070854656&accessSignature=dca4043bc1229b03ed2e6dabd8121fda"-->
			<!--class="list-group-item">player_selfA_1</a>-->
			<!--<a href="#/selectGame?-->
			<!--playerId=5663741160980480&accessSignature=e0da0f89863cc84a825c434e6e23c38f"-->
			<!--class="list-group-item">player_selfA_2</a>-->
		</div>
	</row>
</div>