<div class="list-group">
	<a href="#" class="list-group-item active">
		Games (Hard Code)
	</a>
	<a href="#/lobby/4782276432887808" class="list-group-item">Cheater</a>
	<!--<a href="#/lobby/5662124105793536" class="list-group-item">Cheater_rl</a>-->
	<a href="#/lobby/5802195874217984" class="list-group-item">Cheater_self_1</a>
	<a href="#/lobby/5673385510043648" class="list-group-item">Cheater_self_2</a>
	<a href="#/lobby/4878726365970432" class="list-group-item">Banqi_self_1</a>
	<a href="#/lobby/5653164804014080" class="list-group-item">Banqi_self_21</a>
	<a href="#/lobby/5979457764458496" class="list-group-item">TicTacToe_self_1</a>
	<a href="#/lobby/5700735861784576" class="list-group-item">TicTacToe_self_2</a>
	<a href="#/lobby/3" class="list-group-item">Abalone</a>
	<a href="#/lobby/4" class="list-group-item">Ninty Nine</a>
</div>