<div id="gameContainer">
	<div align="middle">
		<div ng-repeat="playerInfo in matchInfo.playersInfo | filter:filterFnCurrentTurnPlayer">
			{{ 'CURRENTTURN' | translate }}: {{playerInfo['info']['nickname']}}
		</div>
	</div>
	<div id="backToLobbyButton" align="middle">
		<a ng-href="{{backToLobbyUrl}}" class="btn btn-success">{{ 'BACKTOLOBBY' | translate }}</a>
	</div>

	<br/><br/><br/>

	<iframe style="margin-left: auto; margin-right: auto" ng-src="{{ gameInfo.url }}" id='gameIFrame' scrolling="no" frameborder="0" align="middle"></iframe>

	<script>

	</script>
	<br/><br/>

	<div id="playerInfo" class="panel panel-default">
		<div class="panel-heading">{{ 'YOURINFO' | translate }}</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div ng-repeat="playerInfo in matchInfo.playersInfo | filter:filterFnCurrentPlayer">
					<div class="col-md-1">
						<img ng-src="{{imageUrl}}" hight="50" width="50"/>
					</div>
					<div class="col-md-11 col-xs-12">
						<row>
							<div class="col-md-12">
								Email: {{playerInfo['info']['email']}}
							</div>
						</row>
						<row>
							<div class="col-md-6">
								{{ 'FIRSTNAME' | translate }}: {{playerInfo['info']['firstname']}}
							</div>
							<div class="col-md-6">
								{{ 'LASTNAME' | translate }}: {{playerInfo['info']['lastname']}}
							</div>
						</row>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>